{% extends 'base.html.twig' %}

{% block body %}
    <h1>Posts list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Body</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td><a href="{{ path('noticia_show', { 'id': post.id }) }}">{{ post.id }}</a></td>
                <td>{{ post.title }}</td>
                <td>{{ post.body }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('noticia_show', { 'id': post.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('noticia_edit', { 'id': post.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('noticia_new') }}">Create a new post</a>
        </li>
    </ul>
{% endblock %}
